<script src="https://kit.fontawesome.com/b85fe5262a.js" crossorigin="anonymous"></script>

<div class="container" style="margin-top: 50px auto">


    <div class="row">
            <p class="text-end">Hola {{usuario}}! <a  class="btn btn-danger" href="/admin/login/logout">
             Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></p>
            </div>



            <div class="row">
                <div class="col-7">
                    <h2>Listado de Novedades</h2>
                </div>
            <div class="col-5 text-end">
                <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Agregar Novedades</a>
                <a href="http://localhost:3000/admin/principal" class="btn btn-success"><i class="fas fa-long-arrow-alt-left"> </i>Volver</a>
                    </div>
                </div>



            <div class="row">
                <div class="col">
                    <table class="table">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">#</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Imagen</th>
                                    <th class="text-end">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each novedades}}
                                <tr>
                                    <th scope="row">{{id}}</th>
                                    <td>{{titulo}}</td>
                                    <td>{{{imagen}}}</td>
                                    <td class="text-end">
                                        <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>